# Copy this file to android/key.properties and fill in your values.
# NEVER commit key.properties or your .jks/.keystore file to git.

storePassword=YOUR_KEYSTORE_PASSWORD
keyPassword=YOUR_KEY_PASSWORD
keyAlias=galeyralias
storeFile=../galeyrdriver.jks
